body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    padding: 25px 21px;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-band {
    color: #131313;
    font-weight: 700;
    font-size: 45px;

}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.nav-item {
    list-style: none;
    font-weight: 600;
    font-size: 18px;

}

.nav-item a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.header-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    margin: 0 auto;
    text-align: center;
}

.header-description {
    width: 868px;
    margin: 0 auto;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 32px;
}

.header-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 146px;
}

.banner img {
    border-radius: 8px;
}


main {
    width: 1440px;
    margin: 0 auto;
}

.features-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 73px;
    margin-top: 85px;
}

.feature-banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-title {
    width: 468px;
    font-size: 45px;
}

.feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 537px;
}





.more-list-content {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.more-list-title {
    color: #131313;
    width: 468px;
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.more-list-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 586px;
}

.list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 54px;
}

.list-item {

    background-color: #FFFFFF;
    /* width: 586px; */
    height: 171px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
    padding: 30px;


}

.list-item-title {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}

.list-item-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 514px;

}

.list-model {
    position: relative;
}

.experience-btn {
    position: absolute;
    color: #FFFFFF;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    padding: 42px;
    bottom: -5px;
    left: -15%;
}

.some-facts {
    margin-top: 124px;
}

.facts-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.facts-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 542px;
}

.facts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fact {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.fact-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.fact-description {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}

.sponser-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.sponser-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 542px;
    margin: 0 auto;
    text-align: center;
}

.sponsers-lists {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.sponsers-lists img {
    filter: grayscale(100%) brightness(0.9) opacity(0.6);
}

footer {
    margin-top: 130px;
    background-color: rgba(255, 244, 231, 1);
    border-radius: 8px;
    padding: 32px 0;


}

.footer-description {
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}