body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

body header {
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 1px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-band {
    color: #131313;
    font-weight: 700;
    font-size: 45px;

}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.nav-item {
    list-style: none;
    font-weight: 600;
    font-size: 18px;

}

.nav-item a {
    text-decoration: none;
    color: #424242;
}

.header-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    margin: 0 auto;
    text-align: center;
}

.header-description {
    width: 868px;
    margin: 0 auto;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 32px;
}

.header-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 146px;
}

.banner img {
    border-radius: 8px;
}